.nav-item
{
    font-weight: 500;
}
.cartCount
{
    background-color: #FE441C;
    height: 1.1rem;
    width: 1.1rem;
    color: white;
    border-radius: 50%;
    position: absolute;
    font-size: 50%;
    right: 50px;
    top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.profilIcon,.shopCartIcon
{
    color: #3d3d3d;
}