@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
  overflow-x: hidden;
  position: relative; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1; }
.why-choose-section {
    padding: 7rem 0; }
    .why-choose-section .img-wrap {
      position: relative; }
      .why-choose-section .img-wrap:before {
        position: absolute;
        content: "";
        width: 255px;
        height: 217px;
        background-image: url("../../assets/dots-yellow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transform: translate(-40%, -40%);
        -ms-transform: translate(-40%, -40%);
        transform: translate(-40%, -40%);
        z-index: -1; }
      .why-choose-section .img-wrap img {
        border-radius: 20px; }
  
 